* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-height: 100vh;
  background-color: rgb(177, 177, 177);
}
.midiaSocial {
  display: flex;
  align-self: flex-end;
  gap: 20px;
  padding-left: 10px;
}
.midiaSocial a {
  display: flex;
  font-size: 20px;
  align-items: center;
  /* justify-content: end; */
  text-decoration: none;
  color: white;
  gap: 5px;
}
.midiaSocial a i {
  font-size: 40px;
  display: flex;
  border-radius: 20px;
}
.fa-whatsapp {
  color: rgb(0, 255, 136);
}
.fa-instagram {
  background-image: linear-gradient(
    rgb(54, 39, 51),
    rgb(250, 0, 237),
    rgb(72, 50, 75)
  );
  color: rgb(255, 255, 255);
}
.fa-twitter {
  color: rgb(8, 185, 255);
}

.Container {
  display: flex;
  min-height: 100px;
  justify-content: space-between;
  /* height: 100px; */
  background-color: rgb(0, 0, 0);
  align-items: center;
}
.logo {
  display: flex;
  background-color: rgb(255, 255, 255);
  border-radius: 40px;
  padding: 2px 20px 2px 20px;
  align-content: center;
  margin-right: 170px;
  /* flex-wrap: wrap; */
}
.Brechapp-name {
  font-size: 3rem;
  color: brown;
  -webkit-text-stroke: 2px rgb(0, 0, 0);
}
/* .Brechapp{

} */
.img-logo {
  width: 40px;
  height: 40px;
  opacity: 0;
}
.buttons {
  display: flex;
  /* padding-left: 30px; */
  padding-right: 40px;
  gap: 40px;
  justify-content: center;
  /* padding-right: 40px; */
}
.Buttons-click {
  font-family: "Righteous";
  font-size: 2rem;

  color: rgb(0, 0, 0);
  background-color: white;
  padding: 2px 20px 2px 20px;
  border: 2px solid white;
  border-radius: 40px;
  transition: 0.4s;
  cursor: pointer;
}
.Buttons-click:hover {
  border-color: red;
}
.button-LogCad {
  text-decoration: none;
  color: black;
}
#Sucess {
  text-align: center;
  color: #003104;
  background-color: #dbfdda;
  padding: 20px;
  border-radius: 4px;
  display: none;
}
#msError {
  color: #ff0000;
  text-align: center;
  display: none;
  background-color: #ffbbbb;
  font-size: 20px;
  padding: 5px;
  border-radius: 4px;
}

#nav-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-top: 10px;
  margin-left: 540px;
  align-self: center;
  background-color: #ffffff;
  border: solid 1px;
  border-radius: 15px;
  width: 800px;
}
#seach {
  width: 40px;
  height: 40px;
}
#TxtBusca {
  float: left;
  outline: 0;
  background-color: transparent;
  border-radius: 15px;
  font-style: italic;
  font-size: 25px;
  border: none;
  height: 41px;
  width: 820px;
}
.produt {
  background-color: yellow;
}
/* //////////////SECTION///////////////// */
.section-container {
  display: grid;
  padding: 20px;
  grid-template-columns: repeat(3, 250px);
  gap: 20px;
  justify-content: center;
  /* min-height: 70vh; */
  /* background-color: rgb(231, 231, 231); */
  flex: 1 0 auto;
}
.post-section {
  display: flex;
  /* border: 2px solid black; */
  flex-direction: column;
  gap: 10px;
}
.img-post {
  width: 200px;
  height: 200px;
  border-radius: 20px;
  border-right: 10px solid black;
  border-bottom: 10px solid black;
}
.title-post {
  font-size: 30px;
  font-family: "Righteous";
  color: white;
}
.footer-container {
  display: grid;
  height: 124px;
  align-items: center;
  grid-template-areas:
    "titileUniao-container titileUniao-container"
    "unioes footertitle";
  background-color: rgb(0, 0, 0);
}
.titileUniao-container {
  grid-area: titileUniao-container;
  margin-left: 20px;
}
.unioes {
  display: grid;
  margin-left: 20px;
  grid-area: unioes;
  grid-template-columns: 60px 60px;
  gap: 4px;
}
.img-uniao {
  width: 40px;
  height: 40px;
}
.title-uniao {
  color: rgb(255, 255, 255);
}
.titlefooter-brechap {
  color: rgb(228, 228, 228);
  margin-right: 220px;
  display: flex;
  font-size: 40px;
}
@media (max-width: 1900px) {
  #nav-container {
    max-width: 1000px;
    margin: 10px 530px;
  }
}
@media (max-width: 1440px) {
  .Container {
    display: flex;
    justify-content: space-around;
  }
  .midiaSocial {
    display: grid;
    grid-template-columns: 200px 250px;
  }

  .buttons {
    margin-right: 50px;
  }

  #nav-container {
    margin: 50px 300px;
  }
  .footer-container {
    margin-top: 20px;
    margin: 40px auto;
  }
}

@media (max-width: 1024px) {
  .Container {
    display: flex;
    justify-content: space-between;
    height: 15vh;
  }
  .midiaSocial {
    display: flex;
    margin: 0px 6px;
    flex-direction: column;
  }
  .midiaSocial a i {
    font-size: 20px;
  }
  .logo {
    display: flex;
    padding: 2px 0px;
    margin: 2px 20px;
  }
  .Brechapp {
    display: flex;
  }
  .Brechapp-name {
    font-size: 35px;
  }
  .buttons {
    display: flex;
    margin: 1px 10px;
  }
  .Buttons-click {
    padding: 5px;
    font-size: 20px;
  }
  #nav-container {
    display: flex;
    justify-content: center;
    width: 700px;
    margin: 10px 134px;
  }
}
@media (max-width: 768px) {
  html,
  body {
    overflow: hidden;
    height: 100vh;
  }
  .Container {
    display: flex;
    justify-content: space-evenly;
    width: 100vh;
    height: 15vh;
  }
  .midiaSocial {
    margin: 10px 10px;
  }
  .buttons {
    margin: 40px;
  }
  .Buttons-click {
    font-size: 20px;
  }
  #nav-container {
    margin: 14px 30px;
  }
  .section-container {
    display: grid;
    width: 850px;
  }
  .post-section {
    display: grid;
  }
  .img-post {
    width: 150px;
    height: 150px;
  }
  .title-post {
    font-size: 15px;
  }
  .footer-container {
    display: grid;
  }
  .footertitle {
    justify-content: center;
    align-items: center;
    margin-left: 150px;
  }
  .titlefooter-brechap {
    font-size: 30px;
  }
}
