* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  overflow: hidden;
  height: 100vh;
  background-color: rgb(177, 177, 177);
}
.container {
  display: flex;
  flex-direction: row;
}

.header-container {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  grid-template-areas: "midia-socias logo-brechapp button";
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 10vh;
}
.midia-socias {
  display: flex;
  justify-content: flex-start;
  margin-left: 10px;
  align-self: flex-end;
  gap: 10px;
  grid-area: midia-socias;
}
.midia-socias a {
  font-size: 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgb(230, 230, 230);
  gap: 10px;
}
.midia-socias a i {
  font-size: 40px;
}
.fa-whatsapp {
  color: rgb(0, 255, 136);
}
.fa-instagram {
  color: rgb(250, 2, 167);
}
.fa-twitter {
  color: rgb(8, 185, 255);
}

.logo-brechapp {
  grid-area: logo-brechapp;
}

.button {
  grid-area: button;
  gap: 10px;
}
.btnc-vendedor {
  font-size: 25px;
  background-color: transparent;
  border: none;
  color: rgb(255, 255, 255);
  margin-right: 10px;
}
.btn-login {
  font-family: "Righteous";
  border-radius: 60px;
  color: rgba(138, 28, 0, 0.959);
  font-weight: bold;
  font-size: 30px;
  width: 150px;
  height: 60px;
  transition: 0.4s;
  cursor: pointer;
}
.btn-login:hover {
  border-color: rgb(255, 0, 0);
  transition: 0.5s;
}
.nav-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgb(177, 177, 177);
  padding: 10px;
  height: 10vh;
}
.nav-bar {
  display: flex;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  align-items: center;
  width: 900px;
  height: 5vh;
}
.img-navbar {
  width: 40px;
  height: 40px;
}
.input-navbar {
  font-size: 20px;
  outline: 0;
  border: none;
  background-color: transparent;
  width: 900px;
  height: 5vh;
  border-radius: 20px;
}
.section-container {
  display: flex;
  justify-content: center;
  flex: 1 0 auto;
}
.section-post {
  display: grid;
  gap: 100px;
  grid-template-columns: repeat(3, 1fr);
}
.post {
  height: 200px;
  width: 200px;
}
.img-post {
  width: 200px;
  height: 200px;
}
.titlePost {
  font-size: 35px;
  font-family: "Righteous";
  color: rgb(255, 255, 255);
}
.titleCash {
  font-size: 25px;
  font-family: Righteous;
  color: rgb(255, 255, 255);
}
.footer-container {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  height: 10vh;
  bottom: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
}
.paragraph-brechapp {
  display: flex;
  align-items: center;
  font-size: 40px;
  color: rgb(255, 255, 255);
}
@media (max-width: 1556px) {
  .button {
    display: flex;
  }
}
@media (max-width: 1262px) {
  .midia-socias a {
    font-size: 15px;
  }
  .midia-socias a i {
    font-size: 30px;
  }
  .button {
    display: flex;
    margin-right: 10px;
  }
}
@media (max-width: 1100px) {
  .midia-socias {
    display: grid;
    grid-template-columns: 150px;
  }
  .midia-socias a i {
    font-size: 15px;
  }
  .logo-brechapp {
    flex-wrap: wrap;
    display: flex;
    position: absolute;
    right: 390px;
  }
  .paragraph-brechapp {
    font-size: 35px;
  }
}
@media (max-width: 1040px) {
  .logo-brechapp {
    position: relative;
    right: 60px;
  }
}
@media (max-width: 905px) {
  .btnc-vendedor {
    font-size: 20px;
  }
  .btn-login {
    width: 100px;
    height: 50px;
    font-size: 20px;
  }
  .nav-bar {
    margin-top: 10px;
    width: 500px;
  }
  .section-container {
    display: grid;
    height: 65vh;
    justify-self: center;
  }
  .section-post {
    display: grid;
    margin: 0px auto 20px;
    flex-wrap: wrap;
    align-items: center;
    gap: 50px 40px;
  }
  .img-post {
    width: 150px;
    height: 180px;
  }
  .titlePost {
    font-size: 25px;
  }
  .titleCash {
    font-size: 25px;
  }
  .paragraph-brechapp {
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  .img-logo {
    width: 250px;
  }
  .section-post {
    display: grid;
    position: relative;
    left: 40px;
    gap: 5px;
  }
  .img-post {
    width: 120px;
    height: 150px;
  }
  .titlePost {
    font-size: 20px;
  }
  .titleCash {
    font-size: 20px;
  }
  .paragraph-brechapp {
    font-size: 25px;
  }
}
@media (max-width: 675px) {
  .container {
    width: 100%;
  }
  .header-container {
    flex-wrap: wrap;
    width: 81vh;
  }
}
@media (max-width: 645px) {
  .button {
    margin-right: 35px;
  }
  .btnc-vendedor {
    font-size: 15px;
  }
  .midia-socias {
    margin: 1px;
  }
  .midia-socias a {
    font-size: 13px;
    gap: 1px;
  }
  .btn-login {
    font-size: 15px;
    width: 80px;
    height: 30px;
  }
}
@media (max-width: 625px) {
  .button {
    position: relative;
    right: 30px;
  }
}
@media (max-width: 600px) {
  .logo-brechapp {
    position: relative;
    right: 80px;
  }
  .img-logo {
    width: 200px;
  }
  .button {
    position: relative;
    right: 70px;
  }
}
@media (max-width: 565px) {
  .button {
    margin-right: 50px;
  }

  .img-post {
    width: 130px;
    height: 130px;
  }
  .titlePost {
    font-size: 25px;
  }
  .titleCash {
    font-size: 25px;
  }
}
